/*------- farver --------*/
:root {
  --gul: #ffcc4a;
  --grøn: #4eaf4e;
  --sort18: #181818;
  --sort00: #000;
  --mørkegrå: #323232;
  --lysegrå: #c1c1c1;
  --lysegrå-tekst: #a9a9a9;
  --lysegrå-border: #e3e3e3;
  --lillagrå-brødtekt: #595566;
  --grå-baggrund: #d9d9d9;
  --hvid-baggrund: #f5f5f5;
  --hvid: #fff;

  /*--------- Fonts ---------*/
  --lato: "Lato";
  --cabin: "Cabin";

  --size-step-1: clamp(0.625rem, 0.25rem + 1cqi, 1rem);
  --size-step-2: clamp(2.1875rem, 1.5625rem + 1.6667cqi, 2.8125rem);
  --size-step-3: clamp(1.875rem, 0.625rem + 3.3333cqi, 3.125rem);

  --border-r: 1.8rem;
}

.headfont {
  color: var(--sort18);
  font-family: var(--cabin);
  font-size: normal;
  font-weight: 700;
  line-height: 3.2rem;
  font-size: var(--size-step-3);
}

.brødfont {
  color: var(--lillagrå-brødtekt);
  font-family: var(--lato);
  font-size: var(--size-step-1);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
}

.pillheading {
  display: inline-flex;
  padding: 0.25rem 1.3rem;
  align-items: flex-start;
  border-radius: var(--border-r);
  backdrop-filter: blur(5.5px);
}
