---
import "../styles/global.css"
import "../styles/reset.css"
import Banner from "../components/Banner.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Case Study Single</title>
    </head>
    <body>
        <Banner imgPath="/src/assets/images/banner-casestudy.jpg" name="banner case study single"/>
    </body>
</html>

