---
import "../styles/global.css"
import "../styles/reset.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin&family=Lato">
		<title>Astro</title>
	</head>
	<body>
		<h1>Links til de forskellige sidder</h1>
		<ul class="menu">
			<li>
				<a href="/about/">About</a>
			</li>
			<li>
				<a href="/team/">Team</a>
			</li>
			<li>
				<a href="/servicesingle/">Service Single</a>
			</li>
			<li>
				<a href="/casestudysingle/">Case Study Single</a>
			</li>
			
			
		</ul>
	</body>
</html>

<style>

	h1{
		color: var(--sort18);
	text-align: center;
padding:1rem;
padding-top: 3rem;
font-family: var(--cabin);
font-size: 3.1rem;
font-style: normal;
font-weight: 700;
line-height: 3.6rem;
	}
	.menu{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		li{
			list-style: none;
			background: var(--mørkegrå);
			padding: 1rem 4rem 1rem 4rem;
			border-radius: var(--border-r);
		}
		a{
			color: var(--hvid);
			
			font-family: var(--cabin);
			font-size: 2.1rem;
font-style: normal;
font-weight: 700;
line-height: 3.6rem;

		}
	}
</style>