---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Links til de forskellige sidder</h1>
		<ul class="menu">
			<li>
				<a href="/about/">About</a>
			</li>
			<li>
				<a href="/casestudysingle/">Case Study Single</a>
			</li>
			<li>
				<a href="/servicesingle/">Service Single</a>
			</li>
			<li>
				<a href="/team/">Team</a>
			</li>
		</ul>
	</body>
</html>

<style>
	.menu{
		display: flex;
		justify-content: space-around;
	}
</style>