---
import TeamCard from "../components/TeamCard.astro";
import Button from "../components/Button.astro";
import "../styles/global.css"
import "../styles/reset.css"
import Banner from "../components/Banner.astro";
import Mainlayout from "../layouts/Mainlayout.astro";
---


  <Mainlayout>
    		<Banner  imgPath="/src/assets/images/banner-team.jpg" name="banner team" Headtitle="team" suptitle="The Consultors"/>
<p>Meet Our Great Team</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
<Button color="#black" Buttontext="Join our team"/>
<section>
<TeamCard
    name="Sarah Jasmine"
    imgPath="/src/assets/images/team-person-sj.jpg"
    namePerson="Sarah Jasmine"/>

<TeamCard
    name="John Carter"
    imgPath="/src/assets/images/team-person-jc.jpg"
   namePerson="John Carter"/>
  
  <TeamCard
    name="Daisy Stella"
   description="billede af person"
    imgPath="/src/assets/images/team-person-ds.jpg"
     namePerson="Daisy Stella"/>

  <TeamCard
    name="Maya Elizabeth"
   description="billede af person"
   imgPath="/src/assets/images/team-person-me.jpg"
   namePerson="Maya Elizabeth"/>

  <TeamCard
    name="Ryan Jackson"
   description="billede af person"    
   imgPath="/src/assets/images/team-person-rj.jpg"
    namePerson="Ryan Jackson"
  />
  <TeamCard
    name="Lilly Victoria"
   description="billede af person"
imgPath="/src/assets/images/team-person-lv.jpg"
 namePerson="Lilly Victoria"
  />
   </section>
  </Mainlayout>

<style>

section{

}

</style>